SetEnv APPLICATION_ENVIRONMENT development

AddDefaultCharset UTF-8

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteCond %{REQUEST_URI} !\.(js|ico|gif|jpg|jpeg|png|css|html|htm|xml|zip|gz|txt|ini|doc|ico|ttf|swf|svg|jar)$

RewriteRule ^.*$ index.php [NC,L]
