body
{
	margin: 30px 0 0 60px;	
	font: 0.8em "lucida grande",tahoma,verdana,arial,sans-serif;
}


#nav
{
	float: left;
	margin-bottom: 30px;
}

#nav ul li
{
	display: inline;	
	margin-right: 20px;
}

#sidebar_left
{
	clear: both;
	float: left;
	width: 20%;
	margin-right: 15px;
}

#sidebar_right
{
	float: left;
	margin-left: 5px;
	width: 20%;
}

div#container
{
	float: left;
	width: 100%;	
}

div#main
{
	float: left;
	width: 57%;
}

p
{
	margin-bottom: 10px;	
}

dt label
{
	font-weight: bold;	
}

dd
{
	margin: 0 0 10px 0;
}

input[type="text"], input[type="password"]
{
	border: solid #7c98de 1px;
	padding: 5px;
}

.button_display_group
{
	float: left;
	width: 100%;	
}

ul.errors
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	color: red;
}

.left
{
	float: left;
}

.margin_right_70
{
	margin-right: 70px;	
}

h1, h2
{
	margin-bottom: 15px;	
}

div.rounded
{
    -moz-border-radius: 10px 10px 10px 10px;
    background-color: #7C98DE;
    border: 1px solid #CBCBCB;
    float: left;
    padding: 15px 15px 15px 40px;
    width: 84%;
}
	
div#reasons_to_register ul
{
	font: 140%/1.6 "lucida grande",tahoma,verdana,arial,sans-serif;	
}

.ui-autocomplete-input
{
	background: #e7e02b;	
}

.multi_box
{
	margin-top: 5px;
	list-style-type: none;	
}

.multi_box li
{
	width: 160px;	
	display: block;
}

.multi_box li button
{
	float: right;	
}

.hidden
{
	display: none;	
}

/* sidebar */

.sidebar ul
{
	margin: 0;
	padding: 0;	
}

.sidebar li
{
	list-style-type: none;
	padding-top: 5px;
	padding-bottom: 5px;
}

.sidebar li a
{
	margin-left: 5px;
	padding-top: 3px;
}

.sidebar .box_top
{
	border-top: solid 1px #CBCBCB !important;
	padding-left: 0;
	padding-top: 0;
}

.sidebar .box_top dt#title-label
{	
	display: none;	
}

.sidebar .box_top .zend_form
{
	margin-top: 0;	
}	

.sidebar .box
{
	border: solid 1px #CBCBCB;
	border-top: none;
	padding-left: 0;
	padding-top: 0;
}

.sidebar .box > div
{
	padding: 10px;
}

.sidebar .box h2
{
	margin: 0;	
	padding: 5px;
	background: #DFE6F6;
	font-size: 1.1em;
}

.sidebar .box h3
{
	margin: 0;	
	
	font-size: 1em;
}

.sidebar .box ul, .box ul
{
		
}

.sidebar box ul li.even
{
	background: blue;
}

.sidebar box ul li.odd
{
	background: red;
}


.sidebar .box > div
{
	padding: 10px;
}

/* sidebar end */

/* book list */
table#data_list
{
	border-collapse:collapse;	
	border: solid gray 1px;
}

#data_list th#data_title_col
{
	width: 400px;	
}

table#data_list td, table#data_list th
{
	padding: 5px;
}

table.author_list
{
    width: 70%;
}

.odd
{
	background: #E8E8E8;
}

.even
{
	background: #f8f8f8;
}

table tr:nth-child(2n+1)
{
	background-color: #E8E8E8;
}

table tr:nth-child(2n)
{
	background-color: #f8f8f8;
}


tr.author
{
	background: #898989;
}

th
{
	text-align: left;	
}

.is_not_read
{
	background: red !important;
}

/* book list end */

/* book view */
#book_table
{
	border-collapse:collapse;
	border: solid #CBCBCB 1px;
	
	font-size: 1em;
}

#book_table th
{
	width: 8em;
}

#book_table td, #book_table th
{
	padding: 3px 10px;
}	

#book_table th, #book_table td
{
	
	border-bottom: solid #CBCBCB 1px;
}
/* book view end */

/* jquery mobile testing*/

a#menu-bar
{
    font-size: 2em;
}

a#menu-baz
{
    font-size: 2em;
}